html {
  height: 100%;
  width: 100%;
}

img{
  width:300px;
  display: none;
}

.puppy, .kitten, .dinosaur{
  display: none;
}

p{
  color:#080906;
}

h1{
  color:#040b0b;
}
body{
  background-color: #006080;
}
    